<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert"  parameterType="com.sky.entity.Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, status,image, description, create_time, update_time, create_user,
                         update_user)
        values (#{name}, #{categoryId},#{price},#{status}, #{image}, #{description}, #{createTime},#{updateTime}, #{createUser}, #{updateUser});
    </insert>
    <update id="updateDish">
        update dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null ">
                category_id = #{categoryId},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null">
                status  = #{status},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>

        </set>
        where id = #{id}
    </update>
    <delete id="deleteDishById">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName
        from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
           <if test="status != null">
               and c.status = #{status}
           </if>
        </where>
        order by d.create_time desc
    </select>
    <select id="selectById" resultType="java.lang.Long">
        select count(*) from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 1
    </select>
    <select id="getInfoById" resultType="com.sky.entity.Dish">
        select * from dish where id = #{id};
    </select>
    <select id="selectByCategoryId" resultType="com.sky.entity.Dish">
        select * from dish where category_id = #{categoryId} and status = 1;
    </select>
    <select id="selectDisabledDishId" resultType="java.lang.Long">
            select count(*) from dish where id in
            <foreach collection="count" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
            and status = 0
    </select>
    <select id="listWithFlavor" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
